# --- Logs ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- Build output / deps ---
node_modules/
dist/
dist-ssr/
*.local

# --- Env files (Vite odczyta je z netlify env/CI) ---
.env
.env.*.local

# --- Test/coverage (jeśli używasz) ---
coverage/

# --- TypeScript cache ---
*.tsbuildinfo

# --- Editors/OS ---
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Netlify lokalne artefakty (gdy używasz netlify-cli) ---
.netlify/
